#wrapper{
    width: 960px;
    font-family: "Helvetica Neue", sans-serif;
}

#menu{
    height: 130px;
    line-height: 130px;
    padding-right: 35px;
}

#main{
    background-image: url("../images/4x4-adventure-automobile-1571783.jpg");
    height: 554px;
    width: 960px;

}

#mainabout{
    height: 554px;
    width: 960px;
}

#leftpanel{
    height: 554px;
    width: 480px;
    opacity: 0.6;

}

#text{
    color: white;
    padding-top: 120px;
    padding-left: 20px;
}

#footer{
    height: 100px;
    line-height: 100px;

}

#clickbutton{
    padding-left: 260px;
    padding-right: 30px;
}

#box1{
    height: 300px;
    padding: 13px;
}

#pic{
    height: 199px;

}

#rightpart{
    width: 593px;
}

#leftpart{
    width: 367px
}

#table{
    width: 190px;
}

.caption{
    width: 190px;
}

.border{
    border: 1px solid black;
}

.copyright{
    color: white;
}
.inline{
    display: inline;
}
.inlineblock{
    display: inline-block;
}

.clearmargin{
    margin: 0;
}

.clearpadding{
    padding:0;
}

.aligncenter{
    text-align: center;
}

.padding{
    padding: 20px;
}

.blackbackground{
    background-color: black;
}

.floatright{
    float: right;
}

.floatleft{
    float:left;
}
.floatbottom{
    float: bottom;
}

.fixclear{
    clear: both;
}

.position{
    position: relative;
}